<h1>Hello world</h1>
<form action= "/token" class="new_token" id="new_token" method="post"><%= token_tag %> 
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail">Email</label>
      <input type="text" class="form-control" id="inputEmail" placeholder="Email" name= "email">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword">Password</label>
      <input type="text" class="form-control" id="inputPassword" placeholder="Password" name= "password">
    </div>
    <div class="form-group col-md-4">
      <label for="inputOrigin">Password Confirmation</label>
      <input type="text" class="form-control" id="inputConfirmation" placeholder="Password Confirmation" name="password_confirmation">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Get Token</button>
</form> 